# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv("weather_data.csv")
df = df.drop([df.columns[0]], axis='columns')
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,martapura,75,ID,1586623456,100,-3.42,114.85,25.00,1.50
1,okhotsk,97,RU,1586623456,96,59.38,143.30,-4.03,0.76
2,yovon,40,TJ,1586623456,93,38.31,69.04,14.00,2.00
3,cape town,40,ZA,1586622832,88,-33.93,18.42,19.44,8.20
4,hornepayne,95,CA,1586623457,74,49.21,-84.77,3.03,4.53

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
loc = df[["Lat","Lng"]]
humidity = df["Humidity"]
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(loc, weights=humidity,dissipating=False, max_intensity=100,point_radius=2)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
optimal = df[df["Humidity"] > 30]
optimal = optimal[optimal["Humidity"] < 70]
optimal = optimal[optimal["Cloudiness"] < 10]
optimal = optimal[optimal["Max Temp"] > 15]
optimal = optimal[optimal["Max Temp"] < 45]
optimal

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
42,qandala,2,SO,1586623460,60,11.47,49.87,29.92,5.81
52,kavaratti,1,IN,1586623199,68,10.57,72.64,29.45,1.80
68,roebourne,0,AU,1586623463,50,-20.78,117.13,27.81,4.42
75,itanagar,4,IN,1586623463,38,27.10,93.62,22.12,1.31
80,necochea,6,AR,1586623464,54,-38.55,-58.74,24.44,7.60
89,guane,0,CU,1586623465,43,22.20,-84.09,32.29,3.82
93,namibe,4,AO,1586623193,67,-15.20,12.15,25.20,2.69
126,kudahuvadhoo,5,MV,1586623468,63,2.67,72.89,29.59,1.54
146,lebu,0,CL,1586623163,56,-37.62,-73.65,15.39,7.26
231,yaqui,5,MX,1586623478,52,27.37,-110.17,18.00,1.50
233,montefiascone,0,IT,1586623478,33,42.54,12.04,23.33,4.10
240,corinto,0,GR,1586623479,37,37.94,22.96,22.22,1.50
292,hobyo,0,SO,1586623484,66,5.35,48.53,28.73,6.71
331,hastings,9,GB,1586623488,63,50.86,0.57,22.78,3.10
344,luderitz,0,NaN,1586623402,44,-26.65,15.16,25.00,4.60
369,jacksonville beach,1,US,1586623288,56,30.29,-81.39,24.44,3.10
410,nouadhibou,0,MR,1586623163,57,20.93,-17.03,24.00,9.30
440,sawakin,4,SD,1586623498,67,19.11,37.33,23.86,6.47
470,celestun,1,MX,1586623501,47,20.87,-90.40,31.36,2.62
483,ikalamavony,8,MG,1586623502,63,-21.15,46.58,18.97,3.67
515,houma,1,US,1586623498,56,29.60,-90.72,23.33,5.70
520,trinidad,4,BO,1586623506,48,-14.83,-64.90,29.00,1.50
545,henties bay,0,NaN,1586623509,67,-22.12,14.28,23.33,3.13

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = optimal
hotel_df["Hotel Name"] = ''
hotel = []
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types": "lodging",
        "key": g_key
    }
    response = requests.get(base_url, params=params)
    response = response.json()
    try:
        hotel.append(response['results'][0]['name'])
    except IndexError:
        hotel.append("No Hotel in 5km radius")

In [10]:
hotel_df["Hotel Name"] = hotel
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
42,qandala,2,SO,1586623460,60,11.47,49.87,29.92,5.81,No Hotel in 5km radius
52,kavaratti,1,IN,1586623199,68,10.57,72.64,29.45,1.80,Bismillah Hotel And Lodging
68,roebourne,0,AU,1586623463,50,-20.78,117.13,27.81,4.42,Harding River Caravan Park
75,itanagar,4,IN,1586623463,38,27.10,93.62,22.12,1.31,OYO 45507 Hotel Moomsie
80,necochea,6,AR,1586623464,54,-38.55,-58.74,24.44,7.60,dyd -mar Hotel
89,guane,0,CU,1586623465,43,22.20,-84.09,32.29,3.82,base de Campismo LosPortales de Guane
93,namibe,4,AO,1586623193,67,-15.20,12.15,25.20,2.69,Chik-Chik Namibe
126,kudahuvadhoo,5,MV,1586623468,63,2.67,72.89,29.59,1.54,Kudahuvadhoo Retreat
146,lebu,0,CL,1586623163,56,-37.62,-73.65,15.39,7.26,Hostal Las Lilas
231,yaqui,5,MX,1586623478,52,27.37,-110.17,18.00,1.50,No Hotel in 5km radius
233,montefiascone,0,IT,1586623478,33,42.54,12.04,23.33,4.10,Hotel Urbano V
240,corinto,0,GR,1586623479,37,37.94,22.96,22.22,1.50,Ephira Hotel
292,hobyo,0,SO,1586623484,66,5.35,48.53,28.73,6.71,No Hotel in 5km radius
331,hastings,9,GB,1586623488,63,50.86,0.57,22.78,3.10,Zanzibar Hotel
344,luderitz,0,NaN,1586623402,44,-26.65,15.16,25.00,4.60,LÜDERITZ NEST HOTEL
369,jacksonville beach,1,US,1586623288,56,30.29,-81.39,24.44,3.10,Courtyard by Marriott Jacksonville Beach Ocean...
410,nouadhibou,0,MR,1586623163,57,20.93,-17.03,24.00,9.30,El Medina
440,sawakin,4,SD,1586623498,67,19.11,37.33,23.86,6.47,فندق الدويم
470,celestun,1,MX,1586623501,47,20.87,-90.40,31.36,2.62,Posada Lilia
483,ikalamavony,8,MG,1586623502,63,-21.15,46.58,18.97,3.67,No Hotel in 5km radius
515,houma,1,US,1586623498,56,29.60,-90.72,23.33,5.70,Courtyard by Marriott Houma
520,trinidad,4,BO,1586623506,48,-14.83,-64.90,29.00,1.50,Hotel Piesta
545,henties bay,0,NaN,1586623509,67,-22.12,14.28,23.33,3.13,Fishermans Guest House

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig
# Display Map

Figure(layout=FigureLayout(height='420px'))